<link rel="stylesheet" href="/css/full_image.css">
<section class="full_image">
    <div class="img_container">
        <div class="cover"></div>
        <div class="img_sub">
        </div>
    </div>
</section>