<link rel="stylesheet" href="/css/header.css">
<header>
    <div class="container">
        <nav>
            <div class="logo">
                <img src="/images/cube-outline.svg" alt="website icon">
                <h1>Inventory Application</h1>
            </div>
            <div class="menu">
                <a href="/home">home</a>
                <a href="/games">games</a>
                <a href="/genres">genres</a>
                <a href="/developers">developers</a>
            </div>
        </nav>
    </div>
</header>