<!DOCTYPE html>
<html lang="en">
<%-include("partials/head.ejs")%>
<%-include("partials/header.ejs")%>
<body>
    <%-include("forms/dev_form.ejs")%>
    <%-include("forms/form_footer.ejs")%>
</body>
</html>