<!DOCTYPE html>
<html lang="en">
<%-include("partials/head.ejs") %>
<%-include("partials/header.ejs")%>
<body>
    <%-include("partials/full_image.ejs")%>
    <%-include("partials/devs_list.ejs")%>
</body>
</html>