.devs {
  display: flex;
  margin: 2rem 1rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.dev {
  text-decoration: none;
  max-width: 500px;
  position: relative;
  background-position: center;
  background-image: url('https://img.freepik.com/free-vector/gradient-style-network-connection-background_23-2148879891.jpg?t=st=1744105807~exp=1744109407~hmac=94fac67c3d83401b3e1ea9f6b2fb9f41a6a023a6bedbf9559de58cc0b5b2ee86&w=996');
  background-size: cover;
  background-color: rgb(0, 0, 126);
}

.dev:hover{
    transition: transform 200ms ease-in;
    transform: scale(1.025);
}

.filler {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0.25turn,
    black 0%,
    transparent 10%,
    transparent 90%,
    black 100%
  );
  display: flex;
  padding: 1rem;
  gap: 1rem;
  color: white;
  align-items: center;
  flex-wrap: wrap;
}

.prof{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.prof > .prof_img{
    height: 100px;
    width: 100px;
    background-color: white;
}

.prof h1{
    text-transform: capitalize;
    
}
