.full_image {
  background-color: rgb(0, 0, 0);
  /* height: 350px; */
}

.img_container {
  max-width: 1200px;
  margin: auto;
  position: relative;
  overflow: hidden;
  display: flex;
}

.img_container  img {
  width: 100%;
  object-fit: cover;
  min-height: fit-content;
}

.img_sub{
    width: 100%;
    height: 100%;
}

.img_sub{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.cover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: linear-gradient(
    0.25turn,
    rgb(0, 0, 0) 0%,
    transparent 5%,
    transparent 95%,
    rgb(0, 0, 0) 100%
  );
  padding: 2rem;
  display: flex;
}

.cover_content{
  max-width: 500px;
  color: white;
  margin: auto;
  margin-left: clamp(1rem, 5vw, 3rem);
  min-width: 320px;
}

.cover_content h1{
  font-size: clamp(2rem, 2vw, 2.5rem);
  text-transform: capitalize;
}

.action_buttons{
  margin: 1rem 0;
  width: 100%;
  display: flex;
  gap: 1rem;
}

.action_buttons a{
  width: 100%;
  padding: 0.25rem;
  border: 1px solid black;
  border-radius: 1rem;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  text-decoration: none;
}

.action_buttons a:nth-of-type(2n-1){
  background-color: white;
  color: black;
}

.action_buttons a:nth-of-type(2n-1):hover{
  background-color: black;
  color: white; 
}

.action_buttons a:nth-of-type(2n){
  background-color: black;
  color: white; 
}

.action_buttons a:nth-of-type(2n):hover{
  background-color: white;
  color: black;
}

.full_image_genres{
  margin: 1rem;
  margin-bottom: 2rem;
  display: flex;
  gap: 0.25rem;
  flex-wrap: wrap;
}

.full_image_genres a{
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.25rem;
  font-size: 0.8rem;
  color: white;
  background-color: #674080;
}

.genres a:hover{
  opacity: 0.5;
}