<link rel="stylesheet" href="/css/form_footer.css">
<section class="other">
    <div class="container">
        <%actions.map((action)=>{%>
            <a href="<%=action.url%>"><%=action.label%></a>
        <%})%>
    </div>
</section>